<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <%- include('_header'); %> -->

<link rel="stylesheet" href="/css/users.css">

<h1>
    Codeial / Profile Page<%= title %>
</h1>

        <!-- <%- include('_footer'); %>
    </body>
</html> -->